<!-- templates/posts/index.html -->
<!DOCTYPE html> 
<html lang="ru">
  <head>
  </head>
  <body>
    <h2>Выполненные проекты</h2>
    {% for i in projects %} <!-- цикл выдает по одному проекту из всей выборки -->
    {{i.title}} <!-- название проекта -->
    {{i.description}}<!-- описание проекта -->
    <img src="{{i.photo.url}}"> <!--фото проекта -->
    {% endfor %}
    <h2>Виды фундаментов</h2>
    {% for fundament in foundation %}<!-- цикл выдает по одному виду фундамента из всей выборки -->
    {{fundament.title}}<!-- название фундамента -->
    {{fundament.description}}<!-- описание фундамента -->
    <img src="{{fundament.photo.url}}"><!--фото фундамента -->
    {% endfor %}
    <h2>Отзывы</h2>
    {% for otz in feedback %}<!-- цикл выдает по одному отзыву -->
    {{ozt.title}}<!-- имя автора -->
    {{otz.description}}<!-- сам отзыв -->
    {% endfor %}
  </body>
</html> 