<!-- templates/posts/index.html -->
<!DOCTYPE html> 
<html lang="ru">
  <head>
  </head>
  <body>
    <h2>Выполненные проекты</h2>
    {% for i in projects %} <!-- цикл выдает по одному проекту из всей выборки -->
    {{i.title}} <!-- название проекта -->
    {{i.description}}<!-- описание проекта -->
    <img src="{{i.photo.url}}"> <!--фото проекта -->
    {% endfor %}
    <h2>Виды фундаментов</h2>
    {% for fundament in foundation %}<!-- цикл выдает по одному виду фундамента из всей выборки -->
    {{fundament.title}}<!-- название фундамента -->
    {{fundament.description}}<!-- описание фундамента -->
    <img src="{{fundament.photo.url}}"><!--фото фундамента -->
    {% endfor %}
    <h2>Отзывы</h2>
    {% for otz in feedback %}<!-- цикл выдает по одному отзыву -->
    {{ozt.title}}<!-- имя автора -->
    {{otz.description}}<!-- сам отзыв -->
    {% endfor %}
  <!-- форма -->
  {% if form.errors %}
      {% for field in form %} <!-- вывод ошибок для каждого поля, если они есть-->
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          {{ error|escape }}
      {% endfor %}
  {% endif %}
                    {%if flag %}
                      <p class="text cooperation__confirm">Спасибо! Ваша заявка сохранена!</p>
                    {%endif%}
    <form method="post">  
      {% csrf_token %}
      {{form.as_p}} <!--Имя-->
      <input type="submit" value="Отправить">
    </form>
    <!-- конец формы -->
  </body>
</html> 